:root {
    --background-color: rgb(33, 33, 33);
    --text-color: rgb(200, 200, 200);
    --link-color: rgb(125, 125, 125);
    --link-hover-color: rgb(212, 75, 12);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: var(--background-color);
    overflow: hidden;
}

a {
    color: var(--link-color);
    text-decoration: none;
    margin: 0;
    font-size: 1.5rem;
}

a:hover {
    color: var(--link-hover-color)
}

h1 {
    margin-top: -85vh;
    margin-right: -20vw;
    color: rgb(100, 100, 100);
}

.stack-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: scaleX(5);
}

.center {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(248, 244, 163);
    transform: scaleX(0.2);
    box-shadow: 0 0 60px rgb(253, 203, 163), 0 0 98px rgb(184, 160, 26);
}

.tech {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: aliceblue;
    transform: scaleX(0.2);
}

#first-tech img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: aqua;
}

#second-tech img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--background-color);
    background-color: var(--background-color);
}

#third-tech img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#fourth-tech img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#fifth-tech img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--background-color);
    background-color: var(--background-color);
}

.route {
    width: 100%;
    height: 100%;
    animation: rotate 12s infinite linear;
    position: absolute;
}

.tech-container {
    width: 60px;
    height: 60px;
    animation: correct 12s infinite linear;
    position: absolute;
}

#second-tech-container {
    left: 85px;
}

#third-tech-container {
    left: 42.5px;
    top: 100px;
}

#fourth-tech-container {
    left: 100px;
    top: 100px;
}

#fifth-tech-container {
    left: 10px;
    top: 100px;
}

.tech-index {
    width: 100%;
    height: 100%;
    position: absolute;
}

#first-tech-index {
    animation: hideFirstTech 12s infinite;
}

#second-tech-index {
    animation: hideSecondTech 12s infinite;
}

#third-tech-index {
    animation: hideThirdTech 12s infinite;
}

#fourth-tech-index {
    animation: hideFourthTech 12s infinite;
}

#fifth-tech-index {
    animation: hideFifthTech 12s infinite;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes correct {
    0% {
        transform: rotateZ(360deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes hideFirstTech {
    0% {
        z-index: 999;
    }

    25% {
        z-index: -999;
    }

    100% {
        z-index: 999;
    }
}

@keyframes hideSecondTech {
    0% {
        z-index: -999;

    }

    50% {
        z-index: 999;
    }

    100% {
        z-index: -999;
    }
}

@keyframes hideThirdTech {
    0% {
        z-index: 999;
    }

    60% {
        z-index: -999;
    }

    100% {
        z-index: 999;
    }
}

@keyframes hideFourthTech {
    0% {
        z-index: 999;
    }

    60% {
        z-index: -999;
    }

    100% {
        z-index: 999;
    }
}

@keyframes hideFifthTech {
    0% {
        z-index: 999;
    }

    60% {
        z-index: -999;
    }

    100% {
        z-index: 999;
    }
}